/problematicas/Problema1/nbproject/private/
/problematicas/Problema1/build/
/problematicas/Problema2/nbproject/private/
/problematicas/Problema3/nbproject/private/
/problematicas/Problema4/nbproject/private/
/problematicas/Problema5/nbproject/private/
/problematicas/Problema4/build/
/problematicas/Problema2/build/
/problematicas/Problema3/build/
